<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

  <style>
    #app {
      width: 100%;
      height: 100%;
    }

    video {
      z-index: 0 !important;
    }

    .aframebox {
      height: 500px;
      width: 500px;
    }

    .a-canvas {
      z-index: 1;
    }
  </style>
  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
  <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</head>

<body style="margin : 0px; overflow: hidden;">
  <div id="app">
    <v-app>
      <v-navigation-drawer v-model="drawer" fixed app class="black" dark>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex>
              <v-select v-model="selectedShape" :items="shapeTypes" label="Shape Type"></v-select>
            </v-flex>
            <v-flex>
              <v-slider v-model="xSpacing" label="X Spacing" min=".1" max="4" step=".1" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="ySpacing" label="Y Spacing" min=".1" max="4" step=".1" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="dotWidth" label="Shape Width" min=".1" max="2" step=".1" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="dotHeight" label="Shape Height" min=".1" max="2" step=".1" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="circleRadius" label="Radius" min=".1" max="2" step=".1" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="fritWidth" label="Overall Width" min="4" max="100" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-slider v-model="fritHeight" label="Overall Height" min="4" max="100" thumb-label="always"></v-slider>
            </v-flex>
            <v-flex>
              <v-switch label="Perpendicular to Marker" v-model="vOrient"></v-switch>
            </v-flex>
            <v-flex>
              <v-switch label="Debug" v-model="debug"></v-switch>
            </v-flex>
            <template v-if="debug">
              <v-flex>
                <v-slider v-model="xRotation" label="Frit X Rotation" min="-90" max="90" thumb-label="always"></v-slider>
              </v-flex>
              <v-flex>
                <v-slider v-model="yRotation" label="Frit Y Rotation" min="-90" max="90" thumb-label="always"></v-slider>
              </v-flex>
              <v-flex>
                <v-slider v-model="zRotation" label="Frit Z Rotation" min="-90" max="90" thumb-label="always"></v-slider>
              </v-flex>
              <v-flex>
                <v-slider v-model="fritOffsetX" label="Frit Offset X" min="0" max="10" thumb-label="always"></v-slider>
              </v-flex>
              <v-flex>
                <v-slider v-model="fritOffsetY" label="Frit Offset Y" min="0" max="10" thumb-label="always"></v-slider>
              </v-flex>
              <v-flex>
                <v-slider v-model="fritOffsetZ" label="Frit Offset Z" min="0" max="10" thumb-label="always"></v-slider>
              </v-flex>
            </template>
          </v-layout>
        </v-container>
      </v-navigation-drawer>
      <v-toolbar color="black" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-img contain height="64" width="120" src="https://cdn.glitch.com/8adaeb92-454e-41c1-b0cb-fbae77d32b20%2Fholyfrit_logo-whitedots.png?1540737836358"></v-img>
      </v-toolbar>
      <v-content>
        <a-scene embedded arjs>
          <a-assets>
            <img id="frit" src="https://cdn.glitch.com/38d2fc19-efec-4266-a0e4-3ca2d5351d42%2Ffrit.png?1540682468722">
          </a-assets>
          <a-entity :position="`${fritOffsetX} ${fritOffsetZ} ${fritOffsetY}`" :rotation="orientation">
            <a-plane v-if="selectedShape === 'Rectangle'" v-for="(g,i) in grid" :key="i" :position="`${g.x} 0 ${g.y}`"
              :rotation="orientation" :width="dotWidth" :height="dotHeight" material="side: double; color: #f51e1e; transparent: true; opacity: 0.5"></a-plane>
            <a-circle v-else v-for="(g,i) in grid" :key="i" :position="`${g.x} 0 ${g.y}`" :radius="circleRadius"
              material="side: double; color: #f51e1e; transparent: true; opacity: 0.5"></a-circle>
          </a-entity>
          <a-marker-camera preset="hiro"></a-marker-camera>
        </a-scene>
      </v-content>
    </v-app>

  </div>
  <script src="/app.js" defer></script>

</body>
</html>